* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background-color: rgb(63, 125, 207);
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(189, 43, 226);
}

/*********************************************** Home ***********************************************/
.logo {
    height: 60px;
    padding-left: 20px;
}

.img {
    width: 5%;
}

.nav {
    display: flex;
    align-items: center;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    background-color: black;
    width: 100%;
    justify-content: space-between;
}

#mynavbar {
    display: flex;
}

.dropdown-menu .form-control {
    border: 1px solid black;
}

.dropdown-menu {
    padding: 10px
}

.dropdown-menu li,
.dropdown-menu button {
    cursor: pointer;
}

#prediction {
    margin: 10px 0px;
}

.signin {
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 250px;
}

.nav .nav-item {
    padding-right: 60px;
}

.btns {
    display: flex;
    justify-content: space-between;
}

.btns .off,
.btns .on {
    color: white;
    width: 45%;
}

.btns .off {
    background-color: rgb(116, 18, 23);
}

.btns .on {
    background-color: rgb(18, 69, 116);
}

.fa {
    color: white;
    font-size: 23px;
    cursor: pointer;
}


.active {
    color: rgb(43, 132, 192);
}

.drop {
    display: flex;
    width: 80%;
}

.contain {
    display: flex;
}

.humbg {
    color: white;
    font-size: 30px;
    background-color: transparent;
    width: 80px;
    height: 30px;
    border: none;
    display: none;
}

@media (max-width: 1313px) {
    .humbg {
        display: inline-block;
        padding-right: 80px;
    }

    .home {
        margin-top: 1px;
    }

    .drop {
        flex-direction: column;
        width: 100%;
        font-size: 2vw;
        padding: 0px 0px 15px 15px;
        height: 0px;
        overflow: hidden;
    }

    .signin {
        margin-left: 20px;
    }

    .view_humbg {
        height: fit-content;
        overflow: visible;
    }
}

@media (max-width: 870px) {
    .drop {
        font-size: 20px;
    }
}

/* search bar */

.cont {
    height: 720px;
    background-image: url(../images/stocks.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.layer {
    background-color: rgba(0, 0, 0, 0.281);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 100px;
}

.signnav a {
    color: black;
    text-decoration: none;
}

.layer h1 {
    color: white;
    width: 300px;
    font-family: 'Courgette', cursive;
}

.search-input {
    background-color: white;
    border-radius: 20px;
    width: 500px;
    position: relative;
}

.layer .search {
    height: 50px;
    width: 500px;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 40px;
    background-color: transparent;
    color: black;
    border-color: rgb(191, 79, 206) rgb(75, 131, 194) rgb(156, 61, 101) rgb(168, 92, 212);
}

.layer .fa-search {
    height: 55px;
    width: 55px;
    line-height: 55px;
    position: absolute;
    top: 0px;
    right: 8px;
    color: rgb(107, 43, 226);
    text-align: center;
}

.layer .boxSearch {
    overflow-y: auto;
    max-height: 290px;
    opacity: 0;

}

.search-input.active .boxSearch {
    padding: 10px 8px;
    opacity: 1;
}

.boxSearch li {
    list-style: none;
    padding: 5px 12px;
    width: 100%;
    cursor: pointer;
    display: none;
    font-size: 20px;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.search-input.active .boxSearch li {
    display: inline-block;
}

.link:hover,
.boxSearch li:hover {
    background-color: rgb(70, 114, 207);
}

@media (max-width: 820px) {
    .layer .search {
        width: 350px;
    }

    .layer .search-input {
        width: 350px;
    }
}

@media (max-width: 570px) {
    .layer .search-input {
        width: 80%;
    }

    .layer .search,
    .layer .boxSearch {
        width: 100%;
    }

    .layer h1 {
        font-size: 30px;
    }

    .layer {
        align-items: center;
        padding-left: 20px;
    }
}

/*********************************************** Sign Up ***********************************************/
.Sign_Up {
    display: flex;
    font-family: 'Diphylleia', serif;
    font-family: 'Lora', serif;
}

.Sign_Up .img_sign {
    width: 100%;
    height: 99.55vh;
}

.Sign_Up form {
    width: 100%;
    padding: 30px;
    background-color: rgb(92, 34, 82);
    height: 99.55vh;
    padding-top: 120px;

}

.Sign_Up form input {
    width: 100%;
}

.Sign_Up form input {
    border: none;
    padding: 18px;
    border-bottom: 1px solid rgb(49, 68, 179);
    background-color: transparent;
    margin: 10px;
}

.Sign_Up form input::placeholder {
    color: white;
    font-family: 'Diphylleia', serif;
    font-family: 'Lora', serif;
    font-size: 17px;
}

.error {
    color: rgb(161, 156, 156);
    padding-left: 20px;
    padding-bottom: 20px;
    display: none;
}

.Sign_Up form .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Sign_Up form #button,
.Sign_Up form #buttons {
    width: 120px;
    height: 50px;
    background-color: rgb(49, 68, 179);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-family: 'Diphylleia', serif;
    font-family: 'Lora', serif;
    font-size: 17px;
    margin-top: 20px;
}

.Sign_Up form #button a,
.Sign_Up form #buttons a {
    color: white;
    text-decoration: none;
}

.sign_img {
    position: relative;
}

.sign_img h1 {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.726);
    width: 300px;
}

@media (max-width: 1200px) {
    * {
        overflow: auto;
    }

    .Sign_Up .img_sign {
        width: 100%;
    }

    .Sign_Up form {
        width: 170%;
    }

    .sign_img h1 {
        left: 50%;
    }
}

/*********************************************** SignIn ***********************************************/

.Sign_Up .fSign {
    padding-top: 15%;
}

.Sign_Up .fSign #buttons {
    margin-top: 20px;
}

@media (max-width: 900px) {
    * {
        overflow: auto;
    }

    .Sign_Up form,
    .Sign_Up form input::placeholder,
    .Sign_Up form #button {
        font-size: 18px;
    }

    .Sign_Up .img_sign {
        display: none;
    }

    .Sign_Up form {
        width: 100%;
    }

    .sign_img h1 {
        display: none;
    }

    .Sign_Up .fSign {
        padding-top: 40%;
    }
}

@media (min-height: 1000px) {
    * {
        overflow: auto;
    }
    .Sign_Up form,
    .Sign_Up form input::placeholder,
    .Sign_Up form #button {
        font-size: 28px;
    }

    .Sign_Up form #button,
    .Sign_Up form #buttons {
        width: 160px;
        height: 70px;
    }

    .Sign_Up form {
        padding-top: 300px;
    }

    .Sign_Up .img_sign {
        display: none;
    }

    .Sign_Up form {
        width: 100%;
    }

    .sign_img h1 {
        display: none;
    }

    .Sign_Up .fSign {
        padding-top: 40%;
    }
}

@media (max-width: 350px) {

    .Sign_Up form,
    .Sign_Up form input::placeholder,
    .Sign_Up form #button {
        font-size: 15px;
    }

    .Sign_Up form {
        padding-top: 100px;
    }
}