* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo {
    height: 60px;
    padding-left: 20px;
}

.img {
    width: 5%;
}

.nav {
    display: flex;
    align-items: center;
    font-family: 'Courgette', cursive;
    font-size: 20px;
    background-color: black;
    width: 100%;
    justify-content: space-between;
}

#mynavbar {
    display: flex;
}

.dropdown-menu .form-control {
    border: 1px solid black;
}

.dropdown-menu {
    padding: 10px
}

.dropdown-menu li,
.dropdown-menu button {
    cursor: pointer;
}

#prediction {
    margin: 10px 0px;
}

.signin {
    width: 15%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 70px;
}

.nav .nav-item {
    padding-right: 35px;
}

.btns {
    display: flex;
    justify-content: space-between;
}

.btns .off,
.btns .on {
    color: white;
    width: 45%;
}

.btns .off {
    background-color: rgb(116, 18, 23);
}

.btns .on {
    background-color: rgb(18, 69, 116);
}

.fa {
    color: white;
    font-size: 23px;
    cursor: pointer;
}


.active {
    color: rgb(43, 132, 192);
}

.drop {
    display: flex;
    width: 80%;
}

.contain {
    display: flex;
}

.humbg {
    color: white;
    font-size: 35px;
    background-color: transparent;
    width: 80px;
    height: 30px;
    border: none;
    display: none;
}

@media (max-width: 1245px) {
    .humbg {
        display: inline-block;
        padding-right: 80px;
    }

    .home {
        margin-top: 1px;
    }

    .drop {
        flex-direction: column;
        width: 100%;
        font-size: 2vw;
        padding: 0px 0px 15px 15px;
        height: 0px;
        overflow: hidden;
    }

    .signin {
        margin-left: 20px;
    }

    .view_humbg {
        height: fit-content;
        overflow: visible;
    }
}

@media (max-width: 870px) {
    .drop {
        font-size: 20px;
    }
}

/* search bar */

.cont {
    height: 720px;
    background-image: url(../images/stocks.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.layer {
    background-color: rgba(0, 0, 0, 0.281);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 100px;
}

.layer h1 {
    color: white;
    width: 300px;
    font-family: 'Courgette', cursive;
}

.layer .search {
    height: 50px;
    width: 500px;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 40px;
    background-color: transparent;
    color: white;
    border-color: rgb(194, 75, 105) rgb(191, 79, 206) rgb(156, 61, 101) rgb(168, 92, 212);
}

.link:hover {
    background-color: rgb(70, 114, 207);
}

@media (max-width: 820px) {
    .layer .search {
        width: 350px;
        margin-top: 10px;
    }
}
    @media (max-width: 570px) {
        .layer .search {
            width: 90%;
            margin-top: 10px;
        }
        .layer h1 {
            font-size: 30px;
    }
    .layer {
        align-items: center;
        padding-left: 20px;
    }
}