* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo {
    height: 60px;
    padding-left: 20px;
}

.nav{
    display: flex;
    align-items: center;
    font-family: 'Courgette', cursive;
    font-size: 19px;
    background-color: black;
    width: 100%;
}

.dropdown-menu .form-control {
    border: 1px solid black;
}

.dropdown-menu {
    padding: 10px
}

.dropdown-menu li,
.dropdown-menu button {
    cursor: pointer;
}

#prediction {
    margin: 10px 0px;
}

.nav .nav-item {
    padding-right: 35px;
}

.btns {
    display: flex;
    justify-content: space-between;
}

.btns .off,
.btns .on {
    color: white;
    width: 45%;
}

.sign {
    width: 20px;
}

.btns .off {
    background-color: rgb(116, 18, 23);
}

.btns .on {
    background-color: rgb(18, 69, 116);
}

.fa {
    color: white;
    font-size: 23px;
    cursor: pointer;
}

.home {
    margin-left: 180px;
}

.fa-bell {
    margin-left: 170px;
    padding-right: 40px;
}

.active {
    color: rgb(43, 132, 192);
}

.cont {
    height: 720px;
    background-image: url(../images/stocks.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.layer {
    background-color: rgba(0, 0, 0, 0.281);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-left: 100px;
}

.layer h1 {
    color: white;
    width: 300px;
    font-family: 'Courgette', cursive;
}

.layer .search {
    height: 50px;
    width: 500px;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 40px;
    background-color: transparent;
    color: white;
    border-color: rgb(194, 75, 105) rgb(191, 79, 206) rgb(156, 61, 101) rgb(168, 92, 212);
}
.link:hover{
    background-color: rgb(70, 114, 207);
}